In [1]:
import pymysql, os, copy, json, time
import pandas as pd
import numpy as np
from scipy.stats import mode

In [2]:
def _call_db_info(db_name):
    return pymysql.connect(
        host = 'trend.cb7jqghocrtb.ap-northeast-2.rds.amazonaws.com',
        port= 3306,
        user = 'root',
        password='ensol2020!',
        db = db_name,
        charset = 'utf8')

In [3]:
create_inven_rslt_sql = "create table inven_rslt ( \
                                ww int not null, \
                                date varchar(10) not null, \
                                inven int not null, \
                                inven_prev1 int not null, \
                                inven_prev2 int not null, \
                                inven_prev3 int not null, \
                                inven_prev4 int not null, \
                                inven_prev5 int not null, \
                                inven_prev6 int not null, \
                                inven_prev7 int not null, \
                                inven_prev8 int not null) engine=InnoDB DEFAULT CHARSET =utf8;"
conn = _call_db_info('gscm_e61d')
curs = conn.cursor()
curs.execute(create_inven_rslt_sql) 
conn.commit()
conn.close()

In [5]:
create_prod_rslt_sql = "create table prod_rslt ( \
                                ww int not null, \
                                date varchar(10) not null, \
                                prod int not null, \
                                prod_prev1 int not null, \
                                prod_prev2 int not null, \
                                prod_prev3 int not null, \
                                prod_prev4 int not null, \
                                prod_prev5 int not null, \
                                prod_prev6 int not null, \
                                prod_prev7 int not null, \
                                prod_prev8 int not null, \
                                prod_prev9 int not null, \
                                prod_prev10 int not null, \
                                prod_prev11 int not null, \
                                prod_prev12 int not null) engine=InnoDB DEFAULT CHARSET =utf8;"
conn = _call_db_info('gscm_e61d')
curs = conn.cursor()
curs.execute(create_prod_rslt_sql) 
conn.commit()
conn.close()

In [6]:
create_prod_plan_sql = "create table prod_plan ( \
                                ww int not null, \
                                date varchar(10) not null, \
                                prod_plan varchar(5000) not null) engine=InnoDB DEFAULT CHARSET =utf8;"
conn = _call_db_info('gscm_e61d')
curs = conn.cursor()
curs.execute(create_prod_plan_sql) 
conn.commit()
conn.close()

In [8]:
create_prod_prev_sql = "create table prod_prev ( \
                                ww int not null, \
                                date varchar(10) not null, \
                                prod_prev varchar(5000) not null) engine=InnoDB DEFAULT CHARSET =utf8;"
conn = _call_db_info('gscm_e61d')
curs = conn.cursor()
curs.execute(create_prod_prev_sql) 
conn.commit()
conn.close()

In [9]:
create_sale_plan_sql = "create table sale_plan ( \
                                ww int not null, \
                                date varchar(10) not null, \
                                sale_plan varchar(5000) not null) engine=InnoDB DEFAULT CHARSET =utf8;"
conn = _call_db_info('gscm_e61d')
curs = conn.cursor()
curs.execute(create_sale_plan_sql) 
conn.commit()
conn.close()

In [10]:
create_sale_rslt_sql = "create table sale_rslt ( \
                                ww int not null, \
                                date varchar(10) not null, \
                                sale int not null, \
                                sale_prev1 int not null, \
                                sale_prev2 int not null, \
                                sale_prev3 int not null, \
                                sale_prev4 int not null, \
                                sale_prev5 int not null, \
                                sale_prev6 int not null, \
                                sale_prev7 int not null, \
                                sale_prev8 int not null, \
                                sale_prev9 int not null, \
                                sale_prev10 int not null, \
                                sale_prev11 int not null, \
                                sale_prev12 int not null) engine=InnoDB DEFAULT CHARSET =utf8;"
conn = _call_db_info('gscm_e61d')
curs = conn.cursor()
curs.execute(create_sale_rslt_sql) 
conn.commit()
conn.close()

In [11]:
create_sale_prev_sql = "create table sale_prev ( \
                                ww int not null, \
                                date varchar(10) not null, \
                                sale_prev varchar(5000) not null) engine=InnoDB DEFAULT CHARSET =utf8;"
conn = _call_db_info('gscm_e61d')
curs = conn.cursor()
curs.execute(create_sale_prev_sql) 
conn.commit()
conn.close()