In [1]:
import os, random, time
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import datetime
import openpyxl
from scipy.stats import mode

In [2]:
f_list = os.listdir('./data/')
f_list.sort()
production_file = [i for i, v in enumerate(f_list) if 'PRODUCTION' in v.split('_')]
sale_file = [i for i, v in enumerate(f_list) if 'MKT' in v.split('_')]
inven_file = [i for i, v in enumerate(f_list) if 'INVENTORY' in v.split('_')]
print(production_file)#, sale_file, inven_file)
print(f_list[production_file[0]])

[5, 6]
6_DAIMLER_E61D_SCP_PRODUCTION_PLANNING_2018_10_2021_03_v2.xlsx

In [3]:
def dta_merge(t_tmp, t_title):
    #t_tmp = tmp1 ; t_title = tmp1.columns
    ver_col = np.where(t_tmp.columns == 'Version')[0][0]
    t_tmp1 = pd.DataFrame(t_tmp.iloc[:,ver_col].copy())
    t_tmp1 = pd.concat([t_tmp1,t_tmp.iloc[:, 14:]], axis=1)
    return t_tmp1
def year_week_cal(tmp_set_, col_name_, format_):
    tmp_cal_year = list(pd.to_datetime(tmp_set_[col_name_], format=format_).dt.isocalendar().year.values)
    tmp_cal_ww   = pd.to_datetime(tmp_set_[col_name_], format=format_).dt.isocalendar().week.values
    tmp_cal_ww1 = list(map(lambda x : str(tmp_cal_ww[x]) if divmod(tmp_cal_ww[x], 10)[0] > 0 else str(0)+str(tmp_cal_ww[x]), range(0, len(tmp_cal_year))))
    tmp_cal_date = list(map(lambda x : str(tmp_cal_year[x]) + tmp_cal_ww1[x], range(0, len(tmp_cal_year))))
    return tmp_cal_date

#### Product Raw Dataset #####

In [ ]:
for i in range(1, len(production_file)):
    tmp_file_raw = openpyxl.load_workbook('./data/'+f_list[production_file[i]])
    if 'RESULT' in f_list[production_file[i]].split('_'):   
        sheet_name = '02.Detail_생산계획 준수율'
        tmp_file_pd = pd.DataFrame(tmp_file_raw[sheet_name].values).copy()
        tmp_col_name1 = list(tmp_file_pd.iloc[5,0:])
        tmp_file = tmp_file_pd.iloc[6:, :].copy().reset_index(drop=True)
        tmp_file.columns = tmp_col_name1
        tmp_file1 = tmp_file[tmp_file['Material'].str.slice(0,9)=='ACEN1060I'].copy().reset_index(drop=True)
        tmp_file1 = tmp_file1[['Plan Date', 'Plan Week', 'Result Qty']] #'Plan Date', 
        tmp_file1['WW'] = pd.to_datetime(tmp_file1['Plan Date']).dt.isocalendar().week
        tmp_file1 = tmp_file1[['Plan Week', 'WW', 'Result Qty']] #'Plan Date', 
        tmp_group = tmp_file1.groupby(['Plan Week', 'WW'])
        tmp_g_sum = pd.DataFrame(tmp_group.sum())
        tmp_g_sum.reset_index(inplace=True)
        tmp_g_cnt = pd.DataFrame(tmp_group.count())
        tmp_g_cnt.reset_index(inplace=True)
        tmp_g = pd.merge(tmp_g_sum, tmp_g_cnt, on=['Plan Week', 'WW'])
    else:
        tmp_file_raw = openpyxl.load_workbook('./data/'+f_list[production_file[0]])
        sheet_name = 'DynamicResult'
        tmp_file_pd = pd.DataFrame(tmp_file_raw[sheet_name].values).copy()
        tmp_col_name1 = list(tmp_file_pd.iloc[0,0:])
        tmp_file = tmp_file_pd.iloc[1:, :].copy().reset_index(drop=True)
        tmp_file.columns = tmp_col_name1
        tmp_file1 = tmp_file[['PLAN_START_YYYYMMDD', 'YYYYMMDD', 'QTY']].copy() #'Plan Date', 
        tmp_plan_date_= year_week_cal(tmp_file1, 'PLAN_START_YYYYMMDD')
        tmp_date_= year_week_cal(tmp_file1, 'YYYYMMDD')
        tmp_file1['Plan Date'] = tmp_plan_date_
        tmp_file1['Date']=tmp_date_
        tmp_file1 = tmp_file1[['Plan Date', 'Date', 'QTY']] #'PLAN_START_YYYYMMDD', 'YYYYMMDD', 
        tmp_group = tmp_file1.groupby(['Plan Date', 'Date'])
        tmp_g_sum = pd.DataFrame(tmp_group.sum())
        tmp_g_sum.reset_index(inplace=True)
        tmp_g_cnt = pd.DataFrame(tmp_group.count())
        tmp_g_cnt.reset_index(inplace=True)
        tmp_g = pd.merge(tmp_g_sum, tmp_g_cnt, on=['Plan Week', 'WW'])
    tmp_g.to_csv('./data1/'+sheet_name+".csv")

#### Inventory Dataset ####

In [5]:
f_list[inven_file[0]]

'Daimler_E61D_INVENTORY_210503.xlsx'

In [7]:
for i in range(0, len(inven_file)):
    tmp_file_raw = openpyxl.load_workbook('./data/'+f_list[inven_file[i]])
    sheet_name = '02. 일별 PSI 트렌드' #tmp_file_raw.sheetnames
    tmp_file_pd = pd.DataFrame(tmp_file_raw[sheet_name].values).copy()
    tmp_col_name1 = list(tmp_file_pd.iloc[0,0:])
    tmp_file = tmp_file_pd.iloc[1:,:].copy().reset_index(drop=True)
    tmp_file.columns = tmp_col_name1
    tmp_day = pd.to_datetime(tmp_file['연월일'], format='%Y년%m월%d일').dt.isocalendar().day
    tmp_file1 = tmp_file[(tmp_file['자재'].str.slice(0,9) == 'ACEN1060I') & (tmp_day == 7)].copy()
    inven_filter_ = [['3', 'C'], ['3','T'],['5','0']]
    for k in range(0, len(inven_filter_)):
        tmp_store1, tmp_store2 = inven_filter_[k][0], inven_filter_[k][1]
        tmp_file1_sub1 = tmp_file1[(tmp_file1['저장위치'].str.slice(0,1) == tmp_store1)&(tmp_file1['저장위치'].str.slice(3,4) == tmp_store2)].copy()
        tmp_week_ = year_week_cal(tmp_file1_sub1, '연월일', '%Y년%m월%d일')
        tmp_file1_sub1['Inven Week'] = tmp_week_
        tmp_file1_sub1 = tmp_file1_sub1[['Inven Week','재고수량']]
        tmp_group = tmp_file1_sub1.groupby(['Inven Week'])
        tmp_sum = pd.DataFrame(tmp_group.sum())
        tmp_sum.reset_index(inplace=True)    
        tmp_sum.to_csv('./data1/Inven_%sxx%s.csv'%(tmp_store1, tmp_store2), index=False)
        print('Save Complete : Inven_%sxx%s.csv'%(tmp_store1, tmp_store2))

Save Complete : Inven_3xxC.csv
Save Complete : Inven_3xxT.csv
Save Complete : Inven_5xx0.csv

#### Sales Raw Dataset ####

In [116]:
for i in range(0, len(sale_file)):

    tmp_file_raw = openpyxl.load_workbook('./data/'+f_list[sale_file[i]])
    sheet_name = 'Mkt Fcst Waterfall'
    tmp_file = pd.DataFrame(tmp_file_raw[sheet_name].values)
    ind_col = np.where(tmp_file.iloc[0, :] == 'Measure')[0][0]
    col_name1 = list(tmp_file.iloc[0,:(ind_col+1)])
    tmp_col_name2 = list(tmp_file.iloc[0,(ind_col+1):])
    tmp_col_name2_ = []
    if None in tmp_col_name2:
        for i in range(0, len(tmp_col_name2)):    
            if tmp_col_name2[i] is not None:
                tmp_base = tmp_col_name2[i]
            tmp_col_name2_.append(tmp_base)
    else:
        tmp_col_name2_ = tmp_col_name2

    tmp_col_name3 = list(tmp_file.iloc[1,(ind_col+1):])

    col_name2 = []
    for i in range(0, len(tmp_col_name3)):
        if tmp_col_name3[i] == "SUM":
            col_name2.append(tmp_col_name3[i])
        else:
            col_name2.append(tmp_col_name2_[i][:4]+tmp_col_name3[i][1:])
    col_name = col_name1 + col_name2
    tmp_file1 = tmp_file.iloc[3:,:].reset_index(drop=True).copy()
    tmp_file1.columns = col_name
    if 'SUM' in col_name:
        rm_col1 = np.array([i for i, val in enumerate(col_name) if val == 'SUM'])
        tmp_file1.drop(tmp_file1.iloc[:, rm_col1], axis=1, inplace=True)
    keep_col_name = list(['Version']) + list(tmp_file1.columns[(ind_col+1):])
    tmp_file1 = tmp_file1[keep_col_name].copy()

    tmp_file1_title = tmp_file1.columns.unique()
    tmp_file2 = tmp_file1['Version'].copy()

    for k in range(1, len(tmp_file1_title)):
        tmp_i = [i for i, val in enumerate(tmp_file1.columns) if val == tmp_file1_title[k] ]
        #print(k, tmp_i, tmp_file1_title[k])
        if len(tmp_i) > 1:
            #tmp_file2.append(list(())
            tmp_file2 = pd.concat([tmp_file2, tmp_file1.iloc[:,tmp_i].fillna(0).sum(axis=1)], axis=1)
        else :
            tmp_file2 = pd.concat([tmp_file2, tmp_file1.iloc[:,tmp_i].fillna(0)], axis=1)

    tmp_file2.columns = tmp_file1_title
    tmp_file2['Date'] = year_week_cal(tmp_file2, 'Version', 'MF_W_%Y%m%d_V001')
    tmp_file2 = tmp_file2.sort_values(by=['Date'], axis=0)
    tmp_group = tmp_file2.groupby('Date')
    tmp_g_sum = pd.DataFrame(tmp_group.sum())
    tmp_g_sum.reset_index(inplace=True)
    tmp_g_sum.to_csv('./data1/'+f_list[sale_file[0]][10:].split('.')[0]+'.csv', index=False)

,Date,201940,201941,201942,201943,201944,201945,201946,201947,201948,...,202005,202006,202007,202008,202009,202010,202011,202012,202013,202014
0,201940,75600,75600,90720,90720,211680,120960,120960,120960,272160,...,586456,293228,314394,330488,672568,309672,334098,341550,351900,0
1,201941,75600,75600,90720,90720,211680,120960,120960,120960,272160,...,586456,293228,314394,330488,672568,309672,334098,341550,351900,0
2,201942,75600,45360,90720,90720,211680,120960,120960,120960,272160,...,586456,293228,314394,330488,672568,309672,334098,341550,351900,0
3,201943,75600,54432,60480,90720,211680,120960,120960,120960,272160,...,586456,293228,314394,330488,672568,309672,334098,341550,351900,0
4,201944,75600,54432,82404,52164,211680,120960,120960,105840,241920,...,586456,293228,314394,330488,672568,309672,334098,341550,351901,0
5,201945,75600,54432,82404,64638,0,120960,120960,105840,241920,...,586456,293228,314394,330488,672568,309672,334098,341550,351901,0
6,201946,75600,54432,82404,64638,0,38556,120960,105840,241920,...,586456,293228,314394,330488,672568,309672,334098,341550,351901,0
7,201947,75600,54432,82404,64638,0,68796,75600,105840,241920,...,423360,151200,166320,181440,453600,136080,151200,166320,211680,0
8,201948,75600,54432,82404,64638,0,68796,120960,80892,241920,...,423360,151200,166320,181440,453600,136080,151200,166320,211680,0
9,201949,75600,54432,82404,64638,0,68796,120960,80892,138348,...,423360,151200,166320,181440,453600,136080,151200,166320,211680,0
10,201950,75600,54432,82404,64638,0,68796,120960,80892,138348,...,423360,151200,166320,181440,453600,136080,151200,166320,211680,0
11,201951,75600,54432,82404,64638,0,68796,120960,80892,138348,...,423360,151200,166320,181440,453600,136080,151200,166320,211680,0
12,201952,75600,54432,82404,64638,0,68796,120960,80892,138348,...,241920,120960,120960,120960,241920,120960,120960,191273,191273,0
13,202001,75600,54432,82404,64638,0,68796,120960,80892,138348,...,241920,120960,120960,120960,241920,120960,120960,191273,191273,0
14,202002,75600,54432,82404,64638,0,68796,120960,80892,138348,...,241920,120960,120960,120960,241920,120960,120960,151200,151200,0
15,202003,75600,54432,82404,64638,0,68796,120960,80892,138348,...,241920,120960,141960,120960,241920,120960,120960,151200,151200,0
16,202004,75600,54432,82404,64638,0,68796,120960,80892,138348,...,241920,120960,141960,136080,272160,120960,120960,151200,151200,0
17,202005,75600,54432,82404,64638,0,68796,120960,80892,138348,...,241920,136080,141960,136080,272160,136080,105840,151200,151200,0
18,202006,75600,54432,82404,64638,0,68796,120960,80892,138348,...,211680,136080,141960,136080,272160,136080,105840,151200,151200,0
19,202007,75600,54432,82404,64638,0,68796,120960,80892,138348,...,211680,74844,141960,136080,272160,136080,105840,151200,151200,0
20,202008,75600,54432,82404,64638,0,68796,120960,80892,138348,...,211680,74844,75600,166320,332640,136080,105840,151200,151200,0
21,202009,75600,54432,82404,64638,0,68796,120960,80892,138348,...,211680,74844,75600,151200,332640,136080,136080,151200,166320,0
22,202010,75600,54432,82404,64638,0,68796,120960,80892,138348,...,211680,74844,75600,151182,241920,136080,136080,136080,181440,75600
23,202011,75600,54432,82404,64638,0,68796,120960,80892,138348,...,211680,74844,75600,150599,241920,119826,136080,136080,181440,75600
24,202012,75600,54432,82404,64638,0,68796,120960,80892,138348,...,211680,74844,75600,150599,241920,119826,61992,195048,181440,75600
25,202013,75600,54432,82404,64638,0,68796,120960,80892,138348,...,211680,74844,75600,150599,241920,119826,61992,98280,151200,75600
26,202014,75600,54432,82404,64638,0,68796,120960,80892,138348,...,211680,74844,75600,150599,241920,119826,61992,98280,115975,60480

In [9]:
print(f_list[sale_file[0]])

1_DAIMLER_E61D_MKT_FCST_2018_10_2019_03.xlsx

In [19]:
tmp_file_raw = openpyxl.load_workbook('./data/'+f_list[sale_file[0]])
sheet_name = 'Mkt Fcst Waterfall'
tmp_file = pd.DataFrame(tmp_file_raw[sheet_name].values)
ind_col = np.where(tmp_file.iloc[0, :] == 'Measure')[0][0]
col_name1 = list(tmp_file.iloc[0,:(ind_col+1)])
tmp_col_name2 = list(tmp_file.iloc[0,(ind_col+1):])
tmp_col_name2_ = []
if None in tmp_col_name2:
    for i in range(0, len(tmp_col_name2)):    
        if tmp_col_name2[i] is not None:
            tmp_base = tmp_col_name2[i]
        tmp_col_name2_.append(tmp_base)
else:
    tmp_col_name2_ = tmp_col_name2

tmp_col_name3 = list(tmp_file.iloc[1,(ind_col+1):])
col_name2 = []
for i in range(0, len(tmp_col_name3)):
    if tmp_col_name3[i] == "SUM":
        col_name2.append(tmp_col_name3[i])
    else:
        col_name2.append(tmp_col_name2_[i][:4]+tmp_col_name3[i][1:])
col_name = col_name1 + col_name2
tmp_file1 = tmp_file.iloc[3:,:].reset_index(drop=True).copy()
tmp_file1.columns = col_name

#if 'SUM' in col_name:
#    rm_col1 = np.array([i for i, val in enumerate(col_name) if val == 'SUM'])
#    tmp_file1.drop(tmp_file1.iloc[:, rm_col1], axis=1, inplace=True)
#keep_col_name = list(['Version']) + list(tmp_file1.columns[(ind_col+1):])
#tmp_file1 = tmp_file1[keep_col_name].copy()

In [44]:
tmp_file1 = tmp_file1.sort_values(by='Version')

In [47]:
tmp_file1.iloc[30:40,list([13])+list(np.arange(32,45))]

,Version,201852,201801,SUM,201901,201902,201903,201904,201905,SUM,201905,201906,201907,201908
69,MF_W_20190101_V001,None,None,None,None,None,None,None,None,None,None,None,None,None
38,MF_W_20190101_V001,None,None,None,None,None,None,None,None,None,None,None,None,None
68,MF_W_20190108_V001,None,None,None,None,None,None,None,None,None,None,None,None,None
37,MF_W_20190108_V001,None,None,30240,30240,None,None,None,None,None,None,None,None,None
11,MF_W_20190108_V001,None,None,230400,None,76800,38400,57600,57600,230400,None,57600,57600,57600
36,MF_W_20190115_V001,None,None,38400,30240,8160,None,None,None,None,None,None,None,None
67,MF_W_20190115_V001,None,None,None,None,None,None,None,None,None,None,None,None,None
10,MF_W_20190115_V001,None,None,120960,None,None,38400,22080,60480,241920,None,60480,60480,60480
35,MF_W_20190122_V001,None,None,76800,30240,38400,8160,None,None,None,None,None,None,None
66,MF_W_20190122_V001,None,None,None,None,None,None,None,None,None,None,None,None,None

In [ ]:




tmp_file1_title = tmp_file1.columns.unique()
tmp_file2 = tmp_file1['Version'].copy()

for k in range(1, len(tmp_file1_title)):
    tmp_i = [i for i, val in enumerate(tmp_file1.columns) if val == tmp_file1_title[k] ]
    #print(k, tmp_i, tmp_file1_title[k])
    if len(tmp_i) > 1:
        #tmp_file2.append(list(())
        tmp_file2 = pd.concat([tmp_file2, tmp_file1.iloc[:,tmp_i].fillna(0).sum(axis=1)], axis=1)
    else :
        tmp_file2 = pd.concat([tmp_file2, tmp_file1.iloc[:,tmp_i].fillna(0)], axis=1)

tmp_file2.columns = tmp_file1_title
tmp_file2['Date'] = year_week_cal(tmp_file2, 'Version', 'MF_W_%Y%m%d_V001')
tmp_file2 = tmp_file2.sort_values(by=['Date'], axis=0)
tmp_group = tmp_file2.groupby('Date')
tmp_g_sum = pd.DataFrame(tmp_group.sum())
tmp_g_sum.reset_index(inplace=True)
tmp_g_sum.to_csv('./data1/'+f_list[sale_file[0]][10:].split('.')[0]+'.csv', index=False)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13, 14]