In [5]:
import pymysql, os, copy, json, time
import pandas as pd
import numpy as np
import datetime

In [6]:
def _call_db_info(db_name):
    return pymysql.connect(
        host = '10.94.77.9',
        port= 13306,
        user = 'dxbot1',
        password='ensol2020!',
        db = db_name,
        charset = 'utf8')

In [7]:
create_inven_rslt_sql = "create table inven_rslt(\
ww int(6) NOT NULL,\
date varchar(20) NOT NULL,\
inven int,\
prev_inven_1 int,	prev_inven_2 int,	prev_inven_3 int,	prev_inven_4 int,\
prev_inven_5 int,	prev_inven_6 int,   prev_inven_7 int,	prev_inven_8 int,\
primary key(ww)\
) ENGINE=InnoDB DEFAULT CHARSET=utf8"

create_prod_rslt_sql = "create table prod_rslt(\
ww int(6) NOT NULL,\
date varchar(20) NOT NULL,\
product int,\
prev_product_1 int,	prev_product_2 int,	prev_product_3 int,	prev_product_4 int,	prev_product_5 int,	prev_product_6 int,\
prev_product_7 int,	prev_product_8 int,	prev_product_9 int,	prev_product_10 int,	prev_product_11 int,	prev_product_12 int,\
primary key(ww)\
) ENGINE=InnoDB DEFAULT CHARSET=utf8"

create_sale_rslt_sql = "create table sale_rslt(\
ww int(6) NOT NULL,\
date varchar(20) NOT NULL,\
sale int,\
prev_sale_1 int,	prev_sale_2 int,	prev_sale_3 int,	prev_sale_4 int,	prev_sale_5 int,	prev_sale_6 int,\
prev_sale_7 int,	prev_sale_8 int,	prev_sale_9 int,	prev_sale_10 int,	prev_sale_11 int,	prev_sale_12 int,\
primary key(ww)\
) ENGINE=InnoDB DEFAULT CHARSET=utf8"

create_prod_plan_sql = "create table prod_plan(\
ww int(6) NOT NULL,\
date varchar(20) NOT NULL,\
target_ww int(6) NOT NULL,\
product int,  primary key(ww, target_ww)\
) ENGINE=InnoDB DEFAULT CHARSET=utf8"

create_prod_plan_sql1 = "create table prod_plan(\
ww int(6) NOT NULL,\
date varchar(20) NOT NULL,\
target_ww varchar(1500) NOT NULL,\
primary key(ww)\
) ENGINE=InnoDB DEFAULT CHARSET=utf8"

create_prod_prev_sql = "create table prod_prev(\
ww int(6) NOT NULL,\
date varchar(20) NOT NULL,\
target_ww varchar(1500) NOT NULL,\
primary key(ww)\
) ENGINE=InnoDB DEFAULT CHARSET=utf8"

create_sale_plan_sql = "create table sale_plan(\
ww int(6) NOT NULL,\
date varchar(20) NOT NULL,\
target_ww int(6) NOT NULL,\
sale int,  primary key(ww)\
) ENGINE=InnoDB DEFAULT CHARSET=utf8"

create_sale_plan_sql1 = "create table sale_plan(\
ww int(6) NOT NULL,\
date varchar(20) NOT NULL,\
target_ww varchar(1500) NOT NULL,\
primary key(ww)\
) ENGINE=InnoDB DEFAULT CHARSET=utf8"

create_sale_prev_sql = "create table sale_prev(\
ww int(6) NOT NULL,\
date varchar(20) NOT NULL,\
target_ww varchar(1500) NOT NULL,\
primary key(ww)\
) ENGINE=InnoDB DEFAULT CHARSET=utf8"

create_inven_day_sql = "create table inven_day(\
ww int(6) NOT NULL,\
result varchar(7000) NOT NULL,\
primary key(ww)\
) ENGINE=InnoDB DEFAULT CHARSET=utf8"

create_leadtime_day_sql = "create table lt_day(\
ww int(6) NOT NULL,\
lt_day float(12) NOT NULL,\
primary key(ww)\
) ENGINE=InnoDB DEFAULT CHARSET=utf8"

In [10]:
conn = _call_db_info('gscm_e61d')
curs = conn.cursor()

curs.execute(create_leadtime_day_sql)        

conn.commit()
conn.close()

In [6]:
conn = _call_db_info('gscm_cbev')
curs = conn.cursor()

inven_rslt_sql = create_inven_rslt_sql
curs.execute(inven_rslt_sql)        
inven_day_sql = create_inven_day_sql
curs.execute(inven_day_sql)        

prod_rslt_sql = create_prod_rslt_sql
curs.execute(prod_rslt_sql)       
sale_rslt_sql = create_sale_rslt_sql
curs.execute(sale_rslt_sql)       
prod_plan_sql = create_prod_plan_sql1
curs.execute(prod_plan_sql)        
sale_plan_sql = create_sale_plan_sql1
curs.execute(sale_plan_sql)        

prod_prev_sql = create_prod_prev_sql
curs.execute(prod_prev_sql)        
sale_prev_sql = create_sale_prev_sql
curs.execute(sale_prev_sql)        

curs.execute(create_leadtime_day_sql)   

conn.commit()
conn.close()

## Date Table

In [7]:
ww = []
for y in (2019, 2020, 2021, 2022):
    tmp_s_ww = datetime.datetime(y, 1, 1).isocalendar()[1]
    if tmp_s_ww > 1:
        tmp_s_ww = datetime.datetime(y, 1, 7).isocalendar()[1]
    tmp_e_ww = datetime.datetime(y, 12, 31).isocalendar()[1]
    if tmp_e_ww == 1:
        tmp_e_ww = datetime.datetime(y, 12, 24).isocalendar()[1]    
    ww.extend(list(map(lambda x : ''.join([str(y)] + [str(x) if len(str(x))==2 else '0'+str(x)]), np.arange(tmp_s_ww, (tmp_e_ww+1)))))

In [6]:
conn = _call_db_info('gscm_cbev')
curs = conn.cursor()
dt_table =  "create table dt_table(ww int(6) NOT NULL, \
primary key(ww) ) ENGINE=InnoDB DEFAULT CHARSET=utf8"
curs.execute(dt_table)        
conn.commit()

In [9]:
insert_dt_sql = "insert into dt_table values (%s)"#.format(*c)
conn = _call_db_info('gscm_cbev')
curs = conn.cursor()
for i in range(0, len(ww)):    
    curs.execute(insert_dt_sql, ww[i]) 
conn.commit()
conn.close()